<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gkmhc.vedanta.nithya_panchangam">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Nithya_Panchangam">
        <activity android:name=".NithyaKaalam"></activity>
        <activity android:name=".RaasiChart" />
        <activity
            android:name=".AlarmLockScreenNotification"
            android:excludeFromRecents="true"
            android:keepScreenOn="true"
            android:showOnLockScreen="true" />
        <activity
            android:name=".NithyaPanchangamCalendar"
            android:theme="@style/Theme.Nithya_Panchangam" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="com.gkmhc.vedanta.nithya_panchangam" />

        <activity
            android:name=".AboutActivity"
            android:theme="@style/ThemeOverlay.Nithya_Panchangam.SplashScreen" />
        <activity android:name=".NithyaPanchangamSettings" />
        <activity android:name=".HandleAlarmReminderActivity" />

        <receiver
            android:name=".NPBroadcastReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.QUICKBOOT_POWERON" />
                <action android:name="android.intent.action.ACTION_TIMEZONE_CHANGED" />
                <action android:name="android.intent.action.TIME_SET" />
                <action android:name="android.intent.action.DATE_CHANGED" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".SplashScreen"
            android:theme="@style/ThemeOverlay.Nithya_Panchangam.SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".NithyaPanchangamWidget"
            android:theme="@style/ThemeOverlay.Nithya_Panchangam.AppWidgetContainer">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/nithya_panchangam_widget_info" />
        </receiver>

        <activity
            android:name=".MainActivity"
            android:configChanges="screenSize|keyboardHidden|orientation|locale"
            android:theme="@style/Theme.Nithya_Panchangam">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>